<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Layout/_Admin">

<body>

<div layout:fragment="content">
<h1>Welcome to Create Faculty Page</h1>
<form th:action="@{/Hello}" method="post">
    <label for="name">Name:</label><br>
    <input class="form-control form-control-lg" type="text" id="name" name="name"><br>

    <label for="id">ID:</label><br>
    <input class="form-control form-control-lg" type="text" id="id" name="id"><br>

    <label for="description">Description:</label><br>
    <input class="form-control form-control-lg" type="text" id="description" name="description"><br>

    <label for="academicYear">Academic Year ID:</label><br>
    <select id="academicYear" name="academicYear" class="form-select" aria-label="Default select example">
        <tr th:each="aca : ${aca1}">
            <option th:value="${aca.id}" th:text="${aca.id}"></option>
        </tr>
    </select>

    <input class="btn btn-primary" type="submit" value="Submit">
</form>
</div>
</body>
</html>