<!-- ViewFaculty.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Faculties</title>
</head>
<body>
  <h1>List of Faculties</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Group</th>
        <th>Year</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <form th:action="@{/Updating}" method="POST">
          <input type="hidden" name="id" th:value="${faculty.id}">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" th:value="${faculty.name}">
          <br>
          <label for="description">Group:</label>
          <input type="text" id="description" name="description" th:value="${faculty.getdescription()}">
          <br>
          <label for="Year">Year:</label>
          <input type="text" id="Year" name="Year" th:value="${faculty.academicYear}">
          <br>
          <button type="submit">Update Faculty</button>
        </form>

    </tbody>
  </table>
</body>
</html>
