<!-- ViewFalcutlty.html -->
<!DOCTYPE html>

<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="Layout/_Admin">

<head>
  <title>
    Faculties manager page
  </title>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GNDQ069VVF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-GNDQ069VVF');
  </script>

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NJXG26NL');</script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJXG26NL" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div layout:fragment="content">
    <h1>Faculty management</h1>
    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid px-4">
          <div class="card mb-4">
            <div class="card-header">
              <i class="fas fa-table me-1"></i>
              DataTable Example
            </div>
            <div>
              <a th:href="@{/CreateFalcuty}">Create</a>
            </div>
            <div class="card-body">
              <table id="dataTable">
                  <div class="row">
                      <div class="col-auto">
                          <p class="ms-2 mb-0 font-weight-bold">Entry</p>
                      </div>
                      <div class="col d-flex align-items-center">
                          <select id="pageLengthSelect" class="form-select" style="width: 20%">
                              <option value="5">5</option>
                              <option value="10">10</option>
                              <option value="20">20</option>
                              <option value="50">50</option>
                          </select>
                      </div>
                      <div class="col-auto">
                      </div>
                  </div>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Academic Year</th>
                    <th>Description</th>
                    <th:block th:if="${acc.getRoleId().equals('1')}">
                      <th>delete</th>
                      <th>update</th>
                    </th:block>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="faculty: ${Fals}">
                    <td th:text="${faculty.name}"></td>
                      <th:block th:each="acas : ${aca}">
                        <th:block th:if="${faculty.getAcademicYear() == acas.getId()}">
                            <td th:text="${acas.getYearOfAcademic()}">
                            </td>
                        </th:block>
                      </th:block>
                    <td th:text="${faculty.getdescription()}"></td>
                    <th:block th:if="${acc.getRoleId().equals('1')}">
                      <td>
<!--                        <form th:action="@{/Delete}" method="post">-->
<!--                          <input type="hidden" name="id" th:value="${faculty.id}">-->
<!--                          <button class="btn btn-primary" type="submit">Delete</button>-->
                        <a th:href="@{/DeleteGet/{id}(id = ${faculty.id})}">Delete</a>
                        </form>
                      </td>
                      <td>
                        <a th:href="@{/Update/{id}(id = ${faculty.id})} ">update</a>
                      </td>
                    </th:block>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</body>

</html>