<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Layout/_Admin">

<body>

<div layout:fragment="content">
<h1>Welcome to Admin Page</h1>
<form th:action="@{/Academic/Hello}" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>

    <label for="id">ID:</label><br>
    <input type="text" id="id" name="id"><br>

    <label for="yearOfAcademic">academic year:</label><br>
    <input type="text" id="yearOfAcademic" name="yearOfAcademic"><br>

    <label for="startDate">start date:</label><br>
    <input type="text" id="startDate" name="startDate"><br>

    <label for="endDate">end date:</label><br>
    <input type="text" id="endDate" name="endDate"><br>

    <input type="submit" value="Submit">
</form>
</div>
</body>
</html>