<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to Admin Page</h1>
<form action="/Hello" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="id">ID:</label><br>
    <input type="text" id="id" name="id"><br>
    <label for="group">Group:</label><br>
    <input type="number" id="group" name="group"><br>
    <label for="Year">Year:</label><br>
    <input type="text" id="Year" name="Year"><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>