<!-- ViewFaculty.html -->
<!DOCTYPE html>

<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Layout/_Admin">

<body>

<div layout:fragment="content">
  <h1 th:text="'update for ' + ${AcademicYear.name}">List of Faculties</h1>
  <form th:action="@{/Academic/Updating}" method="POST" enctype="multipart/form-data">
    <input type="hidden" id="id" name="id" th:value="${AcademicYear.id}"><br>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>

    <label for="yearOfAcademic">yearOfAcademic:</label><br>
    <input type="text" id="yearOfAcademic" name="yearOfAcademic"><br>

    <label for="closureDate">Closure Date:</label><br>
    <input type="Date" id="closureDate" name="closureDate"><br>

    <label for="finalClosureDate">Final Closure Date:</label><br>
    <input type="Date" id="finalClosureDate" name="finalClosureDate">
    <br>
    <button class="btn btn-primary" type="submit">Update AcademicYear</button>
  </form>
</div>
</body>
</html>
