<!-- ViewFaculty.html -->
<!DOCTYPE html>

<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Layout/_Admin">

<body>

<div layout:fragment="content">
  <h1>List of Faculties</h1>
  <form th:action="@{/Academic/Updating}" method="POST" enctype="multipart/form-data">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>AcademicYear</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
    <td><input type="text" id="name" name="name" th:value="${AcademicYear.name}"></td>
    <td><input type="text" id="id" name="id" th:value="${AcademicYear.id}"></td>
    <td><input type="text" id="academicyear" name="academicyear" th:value="${AcademicYear.getyearOfAcademic()}"></td>
    <td><input type="text" id="startdate" name="startdate" th:value="${AcademicYear.getstartDate()}"></td>
    <td><input type="text" id="enddate" name="enddate" th:value="${AcademicYear.getendDate()}"></td>
    </tbody>
  </table>
  <br>
    <button type="submit">Update AcademicYear</button>
  </form>
</div>
</body>
</html>
