<!-- ViewFalcutlty.html -->
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="Layout/_Admin">

<head>
    <title>Academic Years manager page</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GNDQ069VVF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-GNDQ069VVF');
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NJXG26NL');</script>
    <!-- End Google Tag Manager -->
</head>
<!--   Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJXG26NL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
<!--   End Google Tag Manager (noscript) -->
<body>

<div layout:fragment="content">
    <h1>Academic year Management</h1>
    <!--  <h1>Table </h1>-->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        DataTable Academic years
                    </div>
                    <div>
                        <a class="btn btn-primary" th:href="@{/Academic/CreateAcademicYear}">Create new Academic year</a>
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>Year</th>
                                <th>Closure Date</th>
                                <th>Final Closure Date</th>
                                <th:block th:if="${acc.getRoleId().equals('1')}">
                                    <th>Delete</th>
                                    <th>Update</th>
                                </th:block>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="AcademicYear: ${Fals}">
                                <td th:text="${AcademicYear.getYearOfAcademic()}"></td>
                                <td th:text="${AcademicYear.getClosureDate().toString()}"></td>
                                <td th:text="${AcademicYear.getFinalClosureDate().toString()}"></td>
                                <th:block th:if="${acc.getRoleId().equals('1')}">
                                    <td>
                                        </form>
                                        <a class="btn btn-danger" th:href="@{/Academic/DeleteGet/{id}(id = ${AcademicYear.id})}">Delete</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" th:href="@{/Academic/Update/{id}(id = ${AcademicYear.id})} ">Update</a>
                                    </td>
                                </th:block>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>

</div>
</body>
<style>
    container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        /* Adjust this value to center vertically on the page */
    }

    table {
        width: 100%;
        /* Add other styling properties for your table here */
    }
</style>

</html>