<!-- ViewFalcutlty.html -->
<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Layout/_Admin">
<body>
<div layout:fragment="content">
<h1>List of Faculties</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th>Year</th>
    <th>start date</th>
    <th>end date</th>
    <th>delete</th>
    <th>update</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="AcademicYear: ${Fals}">
    <td th:text="${AcademicYear.name}"></td>
    <td th:text="${AcademicYear.id}"></td>
    <td th:text="${AcademicYear.getyearOfAcademicYear()}"></td>
    <td th:text="${AcademicYear.getstartDate()}"></td>
    <td th:text="${AcademicYear.getendDate()}"></td>

    <td>
      <form th:action="@{/AcademicYear/Delete}" method="post">
        <input type="hidden" name="id" th:value="${AcademicYear.id}">
        <button type="submit">Delete</button>
      </form>
    </td>
    <td>
      <a th:href="@{/AcademicYear/Update/{id}(id = ${AcademicYear.id})} ">update</a>
    </td>
  </tr>
  </tbody>
</table>
</div>
</body>
</html>