<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Layout/_Admin">

<body>

<div layout:fragment="content">
<h1>Welcome to Admin Page</h1>
<form th:action="@{/FeedBack/Create}" method="post">
    <label for="id">ID:</label><br>
    <input type="text" id="id" name="id"><br>
    <label for="content">Group:</label><br>
    <input type="text" id="content" name="content"><br>
    <label for="userid">Year:</label><br>
    <input type="text" id="userid" name="userid"><br><br>
    <input type="submit" value="Submit">
</form>
</div>
</body>
</html>