<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="Layout/_customer">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GNDQ069VVF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-GNDQ069VVF');
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NJXG26NL');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJXG26NL" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div layout:fragment="content" style="margin-top: 20px; margin-bottom: 20px;">
        <div style="height: 50px"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Contribution</h2>
                    <label for="name">name</label>
                    <input type="text" class="form-control" id="name" name="name" th:value="${con.name}" readonly>

                    <label for="description">Description:</label>
                    <input type="text" class="form-control" id="description" name="description"
                        th:value="${con.description}" readonly><br>

                    <label for="submitDate">Submit Date:</label>
                    <input type="text" class="form-control" id="submitDate" name="submitDate"
                        th:value="${con.submitDate}" readonly><br>

                    <label for="status">Status:</label>
                    <input type="text" class="form-control" id="status" name="status"
                        th:value="${con.status == 0 ? 'Waiting' : (con.status == 1 ? 'Approved' : (con.status == 3 ? 'Public' : 'Rejected'))}"
                        readonly><br>

                    <label for="academicYearId">Academic Year ID:</label>
                    <input type="text" class="form-control" id="academicYearId" name="academicYearId"
                        th:value="${con.academicYearId}" readonly><br>

                    <!--                <label for="accountId">Account ID:</label>-->
                    <!--                <input type="text" class="form-control" id="accountId" name="accountId" th:value="${con.accountId}"-->
                    <!--                       readonly><br>-->

                    <label for="facultyId">Faculty ID:</label>
                    <input type="text" class="form-control" id="facultyId" name="facultyId" th:value="${con.facultyId}"
                        readonly><br>

                    <label>Download:</label>
                    <a class="btn btn-info" th:href="@{http://localhost:8090/Fi/files/__${con.path}__}">Download</a><br>
                </div>

                <!-- Right Column for FeedbackLog details -->
                <div class="col-md-6" style="border: 1px solid black ">
                    <h1>FeedbackLog</h1>

                    <div class="scrollable-container" id="scrollableContainer">
                        <th:block th:each="fed : ${feds}">l>
                            <th:block th:each="account : ${listacc}" th:if="${account.id == fed.userId}">
                                <label th:text="${account.getName().toString()}"></label>
                            </th:block>
                            <!--                    <label class="form-control" type="text" th:value="${fed.localDateTime.toString()}" readonly><br>-->
                            <p class="fst-italic text-muted text-right"
                                th:text="${#temporals.format(fed.getLocalDateTime(), 'dd-MM-yyy HH:mm:ss')}"></p>
                            <input class="form-control" type="text" th:value="${fed.content}" readonly><br>
                        </th:block>
                        <br>
                    </div>
                    <form th:action="@{'/FeedBack/feedbackcreate/' + ${con.id}}" method="post">
                        <input type="hidden" name="token" th:value="${toKen}">
                        <!--                    <input class="form-control" type="text" name="content">-->
                        <!--                    <button type="submit">Submit</button>-->
                        <th:block th:if="${isDead > 0 || isDead == 0}">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <th:block th:if="${!account.getRoleId().equals('4')}">
                                        <button class="btn btn-primary" type="submit">Comment</button>
                                    </th:block>
                                </div>
                                <input class="form-control" type="text" name="content" aria-label=""
                                    aria-describedby="basic-addon1">
                            </div>
                        </th:block>
                    </form>
                </div>
            </div>
        </div>

    </div>
</body>

</html>