<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Layout/_Customer">
    
<body>

<div layout:fragment="content">
<!-- Hero section -->
<section id="infinite" class="text-white tm-font-big tm-parallax">
    <div id="infinite">
        <video autoplay muted loop>
            <source src="/forHomepage/img/Frieren.mp4" type="video/mp4">
            <!-- Add additional source elements for other video formats if needed -->
            Your browser does not support the video tag.
        </video>
        <div id="overlay" style="position: absolute; top: 0; left: 0; width: 50%; height: 100%; background-color: rgba(0, 0, 0, 0.5);">
            <h1 style="color: white; font-size: 50px; text-align: center; padding-top: 10%;">Scholary Papers</h1>
            <p style="padding: 10%;">Welcome to our comprehensive online platform designed to streamline school work management!
                Our website provides an intuitive interface for students to effortlessly upload scientific papers,
                facilitating seamless collaboration and knowledge sharing. With our user-friendly system,
                students can easily submit their work while coordinators are warmly welcomed to oversee and guide the process.
                Whether you're a diligent student eager to showcase your research or a dedicated coordinator ensuring academic excellence,
                our platform offers a polished solution tailored to your needs.
                Join our community today and experience the convenience of efficient
                school work management coupled with a welcoming environment for collaboration and academic growth.
            </p>
        </div>
    </div>


    <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            <h2 class="tm-hero-title">Infinite Loop</h2>
            <p class="tm-hero-subtitle">
                Bootstrap 4.0 Parallax Theme
                <br>Free HTML Template by TOOPLATE
            </p>
        </div>
    </div>

    <div class="tm-next tm-intro-next">
        <a href="#whatwedo" class="text-center tm-down-arrow-link">
            <i class="fas fa-2x fa-arrow-down tm-down-arrow"></i>
        </a>
    </div>
</section>

<section id="whatwedo" class="tm-section-pad-top">

    <div class="container">

        <div class="row tm-content-box"><!-- first row -->
            <div class="col-lg-12 col-xl-12">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4 tm-section-title">What We Do</h2>
                    <p class="mb-4 tm-intro-text">
                        This is Infinite Loop, free Bootstrap 4.0 HTML template with a parallax effect. This layout is what you can modify and use for your websites. Please spread a word to your friends about our website. Thank you for supporting us. If you have any question, you can contact us or chat with us on our <a href="https://fb.com/tooplate">Tooplate Facebook page</a>.</p>

                </div>
            </div>

        </div><!-- first row -->

        <div class="row tm-content-box"><!-- second row -->
<!--            <div class="col-lg-1">-->
            <!--                <i class="fa fa-upload fa-3x" style="color: rgb(13, 110, 253)"></i>-->
            <!--            </div>-->
            <!--            <div class="col-lg-5">-->
            <!--                <div class="tm-intro-text-container">-->
            <!--                    <h2 class="tm-text-primary mb-4">Upload your Work</h2>-->
            <!--                    <p class="mb-4 tm-intro-text">-->
            <!--                    Uploading your working here-->
            <!--                    </p>-->
            <!--                    <div class="tm-continue">-->
            <!--                        <a href="/Contribution/Createcontribution" class="tm-intro-text tm-btn-primary">Upload </a>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->

            <div class="col-lg-1">
                <i class="fa fa-book fa-3x" style="color: rgb(13, 110, 253)"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4">View your Work</h2>
                    <p class="mb-4 tm-intro-text">
                    View your work here
                    </p>
                    <div class="tm-continue">
                        <a href="/GettingToViewWork" class="tm-intro-text tm-btn-primary">Your Work</a>
                    </div>
                </div>
            </div>

        </div><!-- second row -->

        <div class="row tm-content-box"><!-- third row -->
            <div class="col-lg-1">
                <i class="fas fa-3x fa-fingerprint text-center tm-icon" style="color: rgb(13, 110, 253)"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4">Tacticle Analysis</h2>
                    <p class="mb-4 tm-intro-text">
                        View Analysis here
                    </p>
                    <div class="tm-continue">
                        <a th:href="@{chart}" class="tm-intro-text tm-btn-primary">Analysis</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-1">
                <i class="fas fa-3x fa-users text-center tm-icon" style="color: rgb(13, 110, 253)"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4">View Student</h2>
                    <p class="mb-4 tm-intro-text">
                    View all of your student under your Faculty right here
                    </p>
                    <div class="tm-continue">
                        <a href="/GettingToViewStudent" class="tm-intro-text tm-btn-primary">Students View</a>
                    </div>
                </div>
            </div>

        </div><!-- third row -->

        <div class="row tm-content-box"><!-- fourth row -->
            <div class="col-lg-1">
                <i class="fas fa-3x fa-fingerprint text-center tm-icon" style="color: rgb(13, 110, 253)"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4">Admin Page</h2>
                    <p class="mb-4 tm-intro-text">
                        Only Admin can access
                    </p>
                    <div class="tm-continue">
                        <a href="/account/view" class="tm-intro-text tm-btn-primary">Access</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-1">
                <i class="fas fa-3x fa-users text-center tbi bi-archive" style="color: rgb(13, 110, 253)"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4">View all Student Work</h2>
                    <p class="mb-4 tm-intro-text">
                    View all of your student work
                    </p>
                    <div class="tm-continue">
                        <a href="/Contribution/View" class="tm-intro-text tm-btn-primary">View all Article</a>
                    </div>
                </div>
            </div>

        </div>
        
    </div>

</section>

 <section id="testimonials" class="tm-section-pad-top tm-parallax-2">
    <div class="container tm-testimonials-content">
        <div class="row">
            <div class="col-lg-12 tm-content-box">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th>Author</th>
                            <th>Description</th>
                            <th>Academic year</th>
                            <th>Download</th>
                        </tr>
                    </thead>
                    <tbody>
<!--                 <tr th:each="AcademicYear: ${Fals}">-->
<!--                        <td th:text="${AcademicYear.name}"></td>-->
                     <tr th:each="con : ${cons}">
                            <td th:text="${con.name}"></td>
                            <td th:text="${con.description}"></td>
                            <td th:text="${con.academicYearId}"></td>
                            <td><a th:href="@{http://localhost:8090/Fi/files/__${con.path}__}">Download</a></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="tm-bg-overlay"></div>
</section>

<section id="gallery" class="tm-section-pad-top">
    <div class="container tm-container-gallery">
        <div class="row">
            <div class="text-center col-12">
                <h2 class="tm-text-primary tm-section-title mb-4">Gallery</h2>
                <p class="mx-auto tm-section-desc">
                    Praesent sed pharetra lorem, blandit convallis mi. Aenean ornare elit ac metus lacinia, sed iaculis nibh semper. Pellentesque est urna, lobortis eu arcu a, aliquet tristique urna.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="mx-auto tm-gallery-container">
                    <div class="grid tm-gallery">
                        <a href="/forHomepage/img/gallery-img-01.jpg">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="/forHomepage/img/gallery-tn-01.jpg" alt="Image 1" class="img-fluid">
                                <figcaption>
                                    <h2><i>Physical Health <span>Exercise!</span></i></h2>
                                </figcaption>
                            </figure>
                        </a>
                        <a href="/forHomepage/img/gallery-img-02.jpg">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="/forHomepage/img/gallery-tn-02.jpg" alt="Image 2" class="img-fluid">
                                <figcaption>
                                    <h2><i>Rain on Glass <span>Second Image</span></i></h2>
                                </figcaption>
                            </figure>
                        </a>
                        <a href="/forHomepage/img/gallery-img-03.jpg">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="/forHomepage/img/gallery-tn-03.jpg" alt="Image 3" class="img-fluid">
                                <figcaption>
                                    <h2><i><span>Sea View</span> Mega City</i></h2>
                                </figcaption>
                            </figure>
                        </a>
                        <a href="/forHomepage/img/gallery-img-04.jpg">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="/forHomepage/img/gallery-tn-04.jpg" alt="Image 4" class="img-fluid">
                                <figcaption>
                                    <h2><i>Dream Girl <span>Thoughts</span></i></h2>
                                </figcaption>
                            </figure>
                        </a>
                        <a href="/forHomepage/img/gallery-img-05.jpg">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="/forHomepage/img/gallery-tn-05.jpg" alt="Image 5" class="img-fluid">
                                <figcaption>
                                    <h2><i><span>Workstation</span> Offices</i></h2>
                                </figcaption>
                            </figure>
                        </a>
                        <a href="/forHomepage/img/gallery-img-06.jpg">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="/forHomepage/img/gallery-tn-06.jpg" alt="Image 6" class="img-fluid">
                                <figcaption>
                                    <h2><i>Just Above <span>The City</span></i></h2>
                                </figcaption>
                            </figure>
                        </a>
                        <a href="/forHomepage/img/gallery-img-01.jpg">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="/forHomepage/img/gallery-tn-01.jpg" alt="Image 7" class="img-fluid">
                                <figcaption>
                                    <h2><i>Another <span>Exercise Time</span></i></h2>
                                </figcaption>
                            </figure>
                        </a>
                        <a href="/forHomepage/img/gallery-img-02.jpg">
                            <figure class="effect-honey tm-gallery-item">
                                <img src="/forHomepage/img/gallery-tn-02.jpg" alt="Image 8" class="img-fluid">
                                <figcaption>
                                    <h2><i>Repeated <span>Image Spot</span></i></h2>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid">
    <div class="row">
<!--                        H.Phuoc-->
        <div class="col-lg-12">
            <div id="map">
                <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=160%20%C4%90.%2030%20Th%C3%A1ng%204,%20An%20Ph%C3%BA,%20Ninh%20Ki%E1%BB%81u,%20C%E1%BA%A7n%20Th%C6%A1,%20Vi%E1%BB%87t%20Nam+(School)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="100%" height="450px" frameborder="0" style="border:0; border-radius: 5px; position: relative; z-index: 2;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>

</div>
</div>
</body>
</html>