<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <p> Hello Word</p>
        <form action="/Add" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
            <button type="submit">Submit</button>
        </form>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="Grocery :${groceryItems}">
                <td th:text="${Grocery.name}"></td>
                </tr>
<!--            <tr th:each="item : ${groceryItems}">-->
<!--                <td th:text="${item.id}"></td>-->
<!--                <td th:text="${item.name}"></td>-->
<!--                <td th:text="${item.quantity}"></td>-->
<!--                <td th:text="${item.category}"></td>-->
<!--            </tr>-->
            </tbody>
        </table>
</body>
</html>