<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embedded Looker Report</title>
</head>
<body style="height: auto;">
    
    <h1>Embedded Looker Report</h1>
    <iframe src="https://lookerstudio.google.com/embed/reporting/dded5470-dec0-429c-9e62-609001393340/page/kIV1C" frameborder="0" style="border:0; width: 100%; height: 1000px;" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
</body>
</html>
