<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="Layout/_customer"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>View works page</title>
</head>
<body>
<div layout:fragment="content" style="margin-top: 20px;">
    <!--    <h2>Currently your work</h2>-->
    <section>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <!--                            <th>id</th>-->
                    <th>Name</th>
                    <th>Description</th>
                    <th>Submite Date</th>
                    <th>Status</th>
                    <th>Download</th>
                    <th>set approve</th>
                    <p th:if="${accounts.getRoleId() == '2' }">
                        <th>Delete</th>
                        <th>Update</th>
                    </p>
                    <p th:if="${accounts.getRoleId() == '3' }">
                        <th>Set Public</th>
                    </p>
                </tr>
                </thead>
                <tbody>
                <block th:each="con : ${cons}">
                    <tr>
                        <td th:text="${con.name}"></td>
                        <td th:text="${con.description}"></td>
                        <td th:text="${con.submitDate}"></td>
                        <td
                                th:text="${con.status == 0 ? 'Waiting' : (con.status == 1 ? 'Approved' : 'Rejected')}">
                        </td>

                        <td><a th:href="@{http://localhost:8090/Fi/files/__${con.getPath_to_file()}__}">Download</a>
                        </td>
                        <td th:if="${con.canDelete}">
                            <form th:action="@{/Contribution/Delete}" method="post">
                                <input type="hidden" name="id" th:value="${con.id}">
                                <input type="hidden" name="file" th:value="${con.path}">
                                <button type="submit" class="btn btn-primary">Delete</button>
                            </form>
                        </td>
                        <td th:if="${con.canUpdate}">
                            <a class="btn btn-primary"
                               th:href="@{/Contribution/Update/{id}(id = ${con.id})} ">update</a>
                        </td>
                        <td>
                            <a th:href="@{/FeedBack/ViewFeedback/{id}(id=${con.id})}" class="btn btn-info">
                                Feedback</a>
                        </td>
                        <td th:if="${accounts.getRoleId().equals('3')}">
                            <a th:href="@{/Contribution/set/{id}(id = ${con.id})} ">Approve</a>
                        </td>
                    </tr>
                </block>
                </tbody>
            </table>
            <div>
                <form th:action="@{/Contribution/Createcontribution}" method="get">
                    <button type="submit" class="btn btn-primary"> Submit new file</button>
                </form>
            </div>
        </div>
        <!--        </div>-->
    </section>
</div>
</body>
</html>