<!-- ViewFaculty.html -->
<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Layout/_Customer">
<head>
    <title>
        Contributions page
    </title>
</head>
<body>

<div layout:fragment="content">

    <h1 th:text="'set public for '+${con.getName()}"></h1>
    <form th:action="@{/Contribution/publicupdate}" method="POST" enctype="multipart/form-data">
        <label>Status:</label>
        <input type="hidden" name="id" th:value="${con.id}">
        <select id="status" name="status" th:readonly="${false}">
            <option th:selected="${con.status == 0}" value="0">Waiting</option>
            <option th:selected="${con.status == 1}" value="1">Approved</option>
            <option th:selected="${con.status == 2}" value="2">Rejected</option>
        </select><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>
