<!-- ViewFaculty.html -->
<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Layout/_Admin">

<body>

<div layout:fragment="content">
  <h1>List of Contribution</h1>
  <form th:action="@{/Contribution/publicupdate}" method="POST" enctype="multipart/form-data">
  <table>
      <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>type of File</th>
        <th>submit date</th>
        <th>is public</th>
        <th>academic year id</th>
        <th>account id</th>
        <th>File</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><input type="hidden" name="id" th:value="${con.id}"></td>
        <td><input type="number" name="status" th:value="${con.getStatus()}"></td>
        <td><input type="Text" name="name" th:value="${con.name} " readonly></td>
      </tr>
      <tr>
        <td colspan="7">
          <input type="submit" value="Submit">
        </td>
      </tr>
      </tbody>
    </table>
  </form>
</div>
</body>
</html>
