<!-- ViewFaculty.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Faculties</title>
</head>
<body>
  <h1>List of Faculties</h1>
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>type of File</th>
        <th>submite date</th>
        <th>is public</th>
        <th>academic year id</th>
        <th>account id</th>
      </tr>
    </thead>
    <tbody>
    <form action="/Contribution/Updating" method="POST">
      <input type="hidden" name="id" th:value="${con.id}">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" th:value="${con.name}">

      <label for="submitDate">Submit Date:</label>
      <input type="text" id="submitDate" name="submitDate" th:value="${con.submitDate}">

      <label for="typeOfFile">Type of File:</label>
      <input type="text" id="typeOfFile" name="typeOfFile" th:value="${con.typeOfFile}">

      <label for="isPublic">Public:</label>
      <input type="checkbox" id="isPublic" name="isPublic" th:checked="${con.public}">

      <label for="academicYearId">Academic Year ID:</label>
      <input type="text" id="academicYearId" name="academicYearId" th:value="${con.academicYearId}">

      <label for="accountId">Account ID:</label>
      <input type="text" id="accountId" name="accountId" th:value="${con.accountId}">

      <input type="submit" value="Submit">
    </form>


    </tbody>
  </table>
</body>
</html>
