<!-- ViewFalcutlty.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Faculties</title>
</head>
<body>
<h1>List of Faculties</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>typeOfFile</th>
    <th>submitDate</th>
    <th>isPublic</th>
    <th>accountId</th>
    <th>academicYearId</th>
    <th>Delete</th>
    <th>Update</th>
  </tr>
  </thead>
  <tbody>
  
    <!-- private String typeOfFile;
    private String submitDate;
    private Boolean isPublic;
    private String accountId;
    private String academicYearId; -->

  <tr th:each="Contribution: ${Fals}">
    <td th:text="${Contribution.id}"></td>
    <td th:text="${Contribution.name}"></td>
    <td th:text="${Contribution.typeOfFile}"></td>
    <td th:text="${Contribution.submitDate}"></td>
    <td th:text="${Contribution.isPublic}"></td>
    <td th:text="${Contribution.accountId}"></td>
    <td th:text="${Contribution.academicYearId}"></td>

    <td>
      <form action="/Delete" method="post">
        <input type="hidden" name="id" th:value="${Contribution.id}">
        <button type="submit">Delete</button>
      </form>
    </td>
    <td>
      <form action="/Update" method="GET"> <!-- Corrected form action without the trailing slash -->
        <input type="hidden" name="id" th:value="${Contribution.id}">
        <button type="submit">Update</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>