<!-- ViewFalcutlty.html -->
<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Layout/_Admin">

<body>
<div layout:fragment="content">
    <h1>Contribution management</h1>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        DataTable Example
                    </div>
                    <div>
                        <a th:href="@{/Contribution/Createcontribution}">Create</a>
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Submitedate</th>
                                <th>Status</th>
                                <th>Academicyear</th>
                                <th>Accountid</th>
                                <th>Facultyid</th>
                                <th>Download</th>
                                <th>Delete</th>
                                <th>Update</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Submitedate</th>
                                <th>Status</th>
                                <th>Academicyear</th>
                                <th>Accountid</th>
                                <th>Facultyid</th>
                                <th>Download</th>
                                <th>Delete</th>
                                <th>Update</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <th:block th:each="fal:${cons}">
                            <tr>
                                <td th:text="${fal.id}"></td>
                                <td th:text="${fal.name}"></td>
                                <td th:text="${fal.description}"></td>
                                <td th:text="${fal.submitDate}"></td>
                                <td th:text="${fal.status == 0 ? 'Waiting' : (fal.status == 1 ? 'Approved' : 'Rejected')}"></td>
                                <td th:text="${fal.academicYearId}"></td>
                                <td th:text="${fal.accountId}"></td>
                                <td th:text="${fal.facultyId}"></td>
                                <td><a th:href="@{http://localhost:8090/Fi/files/__${fal.path}__}">Download</a></td>
                                <!-- <td>
                                    <form th:action="@{/Contribution/Delete}" method="post">
                                        <input type="hidden" name="id" th:value="${fal.id}">
                                        <input type="hidden" name="file" th:value="${fal.path}">
                                        <button type="submit" class="btn btn-primary">Delete</button>
                                    </form>
                                </td>
                                <td>
                                    <a th:href="@{/Contribution/Update/{id}(id = ${fal.id})} ">update</a>
                                </td> -->
                                <!-- <td>
                                    <a th:href="@{/FeedBack/Create/{id}(id = ${fal.id})}">Add FeedBack</a>
                                </td>
                                <td>
                                  <a th:href="@{/Contribution/set/{id}(id = ${fal.id})} ">set public</a>
                                </td> -->
                            </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>

</div>
</body>
</html>