<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Layout/_Admin">

<body>

<div layout:fragment="content">
<h1>Welcome to Admin Page</h1>
<form th:action="@{/Role/Hello}" method="post">
    
    <label for="name">Role Name:</label><br>
    <input type="text" id="name" name="name"><br>

    <label for="id">Role ID:</label><br>
    <input type="text" id="id" name="id"><br>

    <input type="submit" value="Submit">
</form>
</div>
</body>
</html>