<!-- Viewrole.html -->
<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Layout/_Admin">

<body>

<div layout:fragment="content">
  <h1>List of role</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <form th:action="@{Role/Updating}" method="POST">
          <input type="hidden" name="id" th:value="${role.id}">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" th:value="${role.name}">
          
          <button type="submit">Update role</button>
        </form>

    </tbody>
  </table>
</div>
</body>
</html>
